.shopping{
  position: relative;
  
}
.shoppingTop{
  position: fixed;
  top: 80px;
  right: 110px;
  z-index: 9;
}

.layout{
  &__nav{
    @include media-breakpoint-down(md) {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      z-index:1030 ;
    }
  }
}

.banner{
  &__img {
    // position: absolute;
    width: 100%;
    height: 850px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 0 0 0 10px ;
  }
  &__title {
    height: 800px;
  }
  &__home{
    // background-image: url('https://images.unsplash.com/photo-1565026057447-bc90a3dceb87?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1920&q=80');
    background-image: 
    linear-gradient(120deg, #fff 40%, transparent 50%),
    url('https://images.unsplash.com/photo-1565026057447-bc90a3dceb87?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1920&q=80');
    background-size: 100% 100%, cover;
    background-position: center center, top center;
    // box-shadow: 0px 0px 20px map-get($theme-colors, primary);
    // margin-top: -82px;
    // right: 0;
    // z-index: -1;
  }
  &__repair {
    background-image: url('https://hexschool-api.s3.us-west-2.amazonaws.com/custom/0CqX3ArxMBdgTm8d1rR1RWDlh5kt7KLq0L9LpuWde7yigiBbbeCwQTwRG7rZr2vkQqyUk5ETJwojenruyp17p3HnSHI4B87db2P4LXesREdPohCulrP8QarDzz8FybdZ.jpg');
  }
}
.bg-nav {
  background-color: rgba(0, 0, 0, 0.5);
  @include media-breakpoint-up(md) {
    background-color: transparent;
  }
}

.inner{
  &__repairImg {
    width: 100%;
    height: 250px;
    @include media-breakpoint-up(lg) {
      height: 200px;
    }
  }
  &__iconImg {
    // width: 100%;
    width: 150px;
    height: auto;
    cursor: pointer;
  }
  &__productListImg{
    width: 100%;
    height: 285px;
  }
}
.icon{
  &__FB {
    // background-color: #3b5998;
    color:#3b5998;
  }
  &__LINE {
    // background-color: #009f4d;
    color:#009f4d;
  }
  &__grade{
    color:#FFD306;
  }
}