.banner{
  &__img {
    position: absolute;
    width: 100%;
    height: 800px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
    border-radius: 0 0 0 10px ;
  }
  &__title {
    height: 800px;
  }
  &__home{
    background-image: url('https://images.unsplash.com/photo-1565026057447-bc90a3dceb87?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1920&q=80');
    box-shadow: 0px 0px 20px map-get($theme-colors, primary);
    right: 0;
  }
  &__repair {
    background-image: url('https://images.unsplash.com/photo-1503345463055-de0624b23d82?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80');
    top: 0;
    bottom: 0;
  }
}
.bg-nav {
  background-color: rgba(0, 0, 0, 0.5);
  @include media-breakpoint-up(md) {
    background-color: transparent;

  }
}

.inner{
  &__img {
    width: 450px;
    height: 550px;
  }
}
.icon{
  &__FB {
    // background-color: #3b5998;
    color:#3b5998;
  }
  &__LINE {
    // background-color: #009f4d;
    color:#009f4d;
  }
}